.flex{
    padding:5px ;
    display: flex;
    background-color:white;
    justify-content: space-between;
    width:auto;
    
}


.Bar{
    display: flex;
    background-color: wheat;
    height: 50px;
    align-items: center;
    margin-top: -100px;
    width: 700px;
    margin-left: 200px;
    padding: 10px;

}
.about p {
font-size: 20px;
text-indent: 2em;  
 }


.tab a{
    margin: 20px; 
    text-decoration: none;
    position: relative;
    color: wheat;
    font-size: larger; 
}

.container  {
    display: flex;
    grid-template-rows: repeat(2,1fr);
    row-gap: 10px;
    margin-right: 50px;
    overflow: hidden;
    background-color: #333;

}
.container img{
    display: flex;
    grid-template-rows: auto;
    margin-right: 50px;
    width: 150px;
    border-radius: 20%;
    padding-top: 10px;
    
}
figure{
    font-size: large;
}
.lists ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap ;

}
.lists li{
padding: 10px;
}
#Home{
    
    display:flex ;
    grid-template-rows: auto;
    background-color:wheat;
 
}
h1{
    background-color: #333;
    text-align:center;
    padding: 2%;
    font-size: 24px;
    margin-left: 5px;
}

#Contact{
    display: flex;
    width: auto;
    padding-top:20px;
    border-radius:2px;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}
#Projects{
    display: grid;
    width: auto;
    border-radius: 20px;
}
.project-image{
    width: 20%;
    float: left;
    border-radius: 4rem;

}
.project{
    padding-top: 50px;
    font-size: large;
    text-align: center;
    

}
h3{
    text-align:center;
    padding: 2%;
    font-size: 24px;
}

.links{
    padding-right: 15rem;
    padding-top: 1rem;
    justify-content: space-evenly;
}
footer{
    display: flex;
    background-color:#333;
    text-align: center;
    padding: 1%;

}

footer h6{
    margin: auto;

}
.skills{
    display: flex;
    color: #333;

}
h2{
    background-color: #333;
    text-align:center;
    padding: 2%;
    font-size: 24px;
}